/node_modules
/tmp
/.parcel-cache
/dist-frontend
result
result-*
/ops/.terraform
/ops/terraform.tfstate*
/api/tmp
/api/log
/api/coverage
/api/spec/examples.txt
/api/config/master.key
/screenshots
/storybook-static
/**/.byebug_history
/reports/
**/yarn-error.log
**/__pycache__
/api/partial-*-reports
